In [19]:
import pandas as pd

from itertools import chain
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [20]:
df = pd.read_excel("/content/drive/MyDrive/forward_firm_universe.xlsx")

In [21]:
df.head()

            Entity_Name                   LEI          ISIN
0             Shell PLC  21380068P1DRHMJ8KU70  BRRDSABDR009
1     A Finkl & Sons Co                   NaN           NaN
2  A. Finkl & Sons Corp                   NaN           NaN
3     AEP Generating Co                   NaN           NaN
4  AGL Loy Yang Pty Ltd                   NaN           NaN

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23446 entries, 0 to 23445
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Entity_Name  23446 non-null  object
 1   LEI          1 non-null      object
 2   ISIN         6 non-null      object
dtypes: object(3)
memory usage: 549.6+ KB

In [23]:
# Lowercase strings in a cloumn
df['Entity_Name'] = df['Entity_Name'].str.lower()

In [24]:
# processes a text column by removing any non-alphabetic characters,
# then breaks the text into individual words (tokenizes it),
# and generates a new DataFrame where each row contains a single word.

names = df['Entity_Name'].str.replace('[^A-z]', ' ', regex=True).str.replace(' +', ' ',  regex=True).str.strip()

split_names=[nltk.word_tokenize(str(name)) for name in names]

split_names=list(map(str, chain.from_iterable(split_names)))

names_df=pd.DataFrame({'word':split_names})

In [25]:
names_df.head(50)

                       word
0                     shell
1                       plc
2                         a
3                     finkl
4                      sons
5                        co
6                         a
7                     finkl
8                      sons
9                      corp
10                      aep
11               generating
12                       co
13                      agl
14                      loy
15                     yang
16                      pty
17                      ltd
18                      agl
19                       sa
20               generation
21                      pty
22                      ltd
23                      apr
24                   energy
25                      ltd
26                     avic
27                 industry
28                  finance
29                 holdings
30                       co
31                      ltd
32                     avic
33               securities
34                       co
35                      ltd
36                  abinski
37  elektrometallurgicheski
38                    zavod
39                      llc
40                  abinski
41  elektrometallurgicheski
42                    zavod
43                      ooo
44                      abu
45                    dhabi
46                 national
47                      for
48                 building
49                materials

In [26]:
# Counting how often each word appears in the names

count_df = pd.DataFrame(names_df.groupby('word')['word'].count().sort_values(ascending=False).reset_index(name='counts'))

In [27]:
removal_list=['plc','inc', 'ltd', 'lp', 'llc', 'limited','pjsc', 's', 'group', 'the', 'of', 'a',
         'de', 'and', 'co', 'l', 'gmbh', 'o', 'company', 'e', 'r', 'pvt', 'c', 'b',
         'for', 'v', 'd', 'p', 'm', 'an','thermal','n', 'china','pty', 'srl', 'it',
         'in', 'i', 'la', 'pt', 'llp', 'st', 'do', 'sa', 'ab', 'spa', 'ag', 'ltda',
         'foundation', 't', 'as', 'bv', 'y', 'uk', 'corp','corporation','industry',
         'holding', 'environmental', 'generation', 'protection', 'branch',
         'anhui','huadian','wuhu', "lu'an", 'suzhou', 'new', 'holdings', 'jsc', 'district',
         'city', 'state', 'mongolia', 'industrial', 'enterprise', 'county','owned',
         'shandong', 'shandong', 'xinjiang', 'beijing', 'guizhou', 'government',
         'partnership', 'shanghai',  'capital', 'center', 'bureau', 'jiangsu', 'commission', 'people',
         'datang','shenzhen', 'ordos', 'biomass', 'chongqing', 'special',
         'zhungeer', 'banner', 'yaogou', 'dawei', 'beijing jingneng',
         'to be determined', 'bazhong', 'huaneng', 'plant', 'future', 'times',
         'guangdong', 'xinxing', 'guangdong', 'guangxin',
         'guangrao', 'hengtai', 'guangxi', 'beibu', 'baise', 'bobai', 'yantao',
         'fund partnership', 'yulin', 'haofeng', 'tianjin',
         'fujian', 'zhejiang', 'ningxia', 'guoneng', 'shanxi', 'henan',
         'shenmu', 'hebei', 'shaanxi','sichuan', 'municipal',
         'jilin', 'port', 'fugu', 'datong', 'yunnan',
          'national', 'industries', 'green', 'urban', 'zone', 'committee', 'retim',
         'no', 'north', 'ningbo', 'coking', 'guodian','hong', 'kong',
         'changzhi', 'guangzhou', 'qingdao', 'natural', 'tangshan',
          'union', 'partners', 'province', 'economic', 'united',
         'hangzhou', 'everbright', 'town','ve', 'bhd', 'south', 'heilongjiang',
         'bara', 'enterprises', 'general', 'park', 'authority', 'public',
          'trust', 'lu', 'venture', 'hubei', 'liaoning',
          'indonesia', 'water', 'provincial', 'central', 'creek',
          'east', 'products', 'shuozhou', 'shenhua', 'dongguan', 'australia', 'global', 'yangquan',
          'razrez', 'coke', 'hunan', 'hainan', 'cv', 'prima', 'jaya', 'ticaret',
          'yangcheng', 'sdn', 'wuhan', 'west', 'joint', 'high',
              'tbk', 'jiangmen', 'jinneng', 'gansu', 'j', 'pacific', 'autonomous', 'zhengzhou', 'dalian',
              'grupo', 'utama', 'river', 'kaidi', 'grid', 'gaoping', 'blue', 'sinopec', 'southern', 'w',
              'jungar', 'pte', 'jiangxi', 'shenyang', 'clean', 'real', 'minerals', 'asia', 'del', 'dongying',
              'nanjing', 'sanayi', 'mines', 'stainless', 'lingshi', 'generating', 'linyi', 'cooperative', 'xiamen', 'k',
              'taiyuan', 'jincheng', 'fuel', 'zibo', 'village', 'jinmei', 'wuhai', 'office', 'colombia', 'erdos', 'luoyang', 'guoxin',
               'area', 'jiangyin', 'al',  'baotou', 'sugar', 'g', 'jizhong', 'ao', 'mountain', 'mandiri', 'liulin', 'bioenergia', 'alam',
               'zhuhai', 'xi', 'doo', 'rural', 'el', 'xuzhou', 'turbine', 'metallurgical',
              'jianlong', 'black', 'zhangjiagang', 'changchun', 'fenxi', 'zheneng', 'pinglu',
              'brasil', 'xinzhou', 'qinghai', 'india', 'bumi', 'madencilik', 'gcl', 'sea',
              'ministry', 'harbin', 'iranian', 'securities', 'ii', 'jinan', 'san', 'rizhao',
              'hongyuan', 'texas', 'shell', 'vietnam', 'tica', 'gulf', 'association', 'jiexiu',
              'carbon', 'weihai', 'lestari', 'nigeria', 'free', 'canada', 'petrochina', 'business',
              'guohua', 'huizhou', 'gazprom',
              'linfen', 'private', 'oilfield', 'perkasa', 'department', 'xinyuan', 'biological', 'yili', 'xinhui', 'makmur',
              'shouguang', 'heavy', 'fuxin', 'zhongshan', 'changqing', 'yuyang', 'northern',
              'region', 'land', 'karya', 'valley',
              'western', 'century', 'sunshine', 'long', 'cnooc', 'delta', 'golden', 'shouyang', 'heating',
              'xin', 'yantai', 'dongfang', 'pcl', 'huarun', 'shenneng', 'science', 'totalenergies', 'liansheng', 'institute',
              'weifang', 'american', 'shanyin', 'export', 'fushun', 'bp', 'persada', 'division', 'africa', 'hongda', 'comprehensive',
              'integrated', 'foshan', 'eastern', 'great', 'corps', 'mitsui', 'binzhou',
               'nanyang', 'offshore', 'pulp', 'gangue', 'dongsheng', 'plus', 'waste', 'sp', 'da',
              'zezhou', 'sejahtera', 'factory', 'ecological', 'mill', 'machinery',
               'abadi', 'tibet', 'railway', 'sas', 'hongxing', 'huarong', 'h', 'yangtai', 'qujing', 'complex','companhia', 'jinyuan', 'otog', 'xinneng',
              'zaozhuang', 'projects', 'shaoxing', 'demir', 'pu', 'nickel', 'pratama', 'shakhta', 'kailuan', 'systems', 'wuxi', 'huozhou', 'taicang', 'anyang',
              'yichang', 'star', 'es', 'permian', 'rongcheng', 'handan', 'pingdingshan', 'chengdu', 'sdic', 'yan', 'ad', 'zhongtai',
              'second', 'republic', 'jingneng', 'eagle','ocean', 'korea', 'coastal', 'sucursal', 'lng', 'yangzhou', 'tian',
               'ojsc', 'egyptian', 'tianan', 'first', 'hami', 'bay', 'yicheng', 'norte','huayuan', 'puyang',
               'tianyu', 'jv', 'u', 'heze', 'zavod', 'puxian', 'xishan', 'nusantara', 'hengyuan', 'tianyuan',
               'yanchang', 'fengyuan', 'peabody', 'zhongyang', 'forest', 'trica', 'contracting', 'chifeng', 'empresa', 'brothers',
              'xintai','jining','overseas', 'changxing', 'three', 'changzhou', 'shijiazhuang',
               'mills', 'arcelormittal','xinyang', 'yuxian', 'sun', 'township', 'zuoquan', 'collective','hengshan', 'heshun', 'distribution', 'clp', 'nantong', 'heat',
              'taishan', 'gen', 'fuyuan', 'oriental', 'tpp', 'yidong', 'summit','lanhua', 'board', 'hope', 'huineng', 'chevron', 'shougang', 'inner', 'celik']

In [28]:
len(removal_list)

513

In [29]:
# Word frequency of words not in badlist.
# check tail rows and select unecessary values

count_df  = count_df.loc[count_df ['counts']>15].loc[~count_df ['word'].isin(removal_list)]

In [30]:
count_df.tail(50)

                  word  counts
152  thermoelectricity      72
159             cement      68
165          financial      66
174            mineral      63
177           services      62
180        investments      60
182               bank      59
189          materials      57
191              metal      55
192               tech      55
196              sales      54
198          renewable      54
199         operations      53
204           material      52
207     infrastructure      52
215           aluminum      50
220              energ      48
228        environment      45
240                bio      41
241             estate      41
242       agricultural      41
244        information      41
254          equipment      39
289             supply      32
298       cogeneration      31
309      technological      30
310             metals      30
316          utilities      29
339           ventures      27
343          bioenergy      27
349          insurance      26
350          aluminium      26
370           resource      25
379         commercial      24
385              fuels      23
395              stock      23
401      manufacturing      22
418          chemicals      21
438           airlines      20
443             import      20
452         hydropower      19
466          logistics      19
489           property      18
491             agency      18
504            tourism      17
520         electrical      17
544            project      16
545         innovation      16
549               gold      16
552             saving      16

In [31]:
count_df['word'].tail(50).values

array(['thermoelectricity', 'cement', 'financial', 'mineral', 'services',
       'investments', 'bank', 'materials', 'metal', 'tech', 'sales',
       'renewable', 'operations', 'material', 'infrastructure',
       'aluminum', 'energ', 'environment', 'bio', 'estate',
       'agricultural', 'information', 'equipment', 'supply',
       'cogeneration', 'technological', 'metals', 'utilities', 'ventures',
       'bioenergy', 'insurance', 'aluminium', 'resource', 'commercial',
       'fuels', 'stock', 'manufacturing', 'chemicals', 'airlines',
       'import', 'hydropower', 'logistics', 'property', 'agency',
       'tourism', 'electrical', 'project', 'innovation', 'gold', 'saving'],
      dtype=object)

In [32]:
# Create a list of common words that indicate industries.
industry_category = count_df['word'].to_list()[:101]
print(industry_category)

['coal', 'power', 'energy', 'investment', 'steel', 'development', 'mining', 'management', 'mine', 'iron', 'resources', 'technology', 'electric', 'assets', 'gas', 'oil', 'international', 'chemical', 'construction', 'operating', 'administration', 'petroleum', 'trade', 'supervision', 'finance', 'trading', 'electricity', 'asset', 'production', 'operation', 'fund', 'transportation', 'engineering', 'exploration', 'petrochemical', 'paper', 'enerji', 'energia', 'consulting', 'marketing', 'elektrik', 'equity', 'energi', 'service', 'thermoelectricity', 'cement', 'financial', 'mineral', 'services', 'investments', 'bank', 'materials', 'metal', 'tech', 'sales', 'renewable', 'operations', 'material', 'infrastructure', 'aluminum', 'energ', 'environment', 'bio', 'estate', 'agricultural', 'information', 'equipment', 'supply', 'cogeneration', 'technological', 'metals', 'utilities', 'ventures', 'bioenergy', 'insurance', 'aluminium', 'resource', 'commercial', 'fuels', 'stock', 'manufacturing', 'chemicals', 'airlines', 'import', 'hydropower', 'logistics', 'property', 'agency', 'tourism', 'electrical', 'project', 'innovation', 'gold', 'saving']

In [33]:
## Classify industries using a list of common words that indicate industries

%%time
df['Industry_Classification'] = None

for i in industry_category:
  # Use .any() to check if any value in the Series is True
  if df['Entity_Name'].str.contains(i, case=False).any():
    # Use .loc to assign the value to the rows where the condition is True
    df.loc[df['Entity_Name'].str.contains(i, case=False), 'Industry_Classification'] = i
  else:
    None

CPU times: user 4.49 s, sys: 14 ms, total: 4.5 s
Wall time: 4.53 s

In [34]:
df['Industry_Classification'].unique()

array([None, 'energ', 'finance', 'metal', 'material', 'steel',
       'management', 'construction', 'power', 'operation', 'utilities',
       'coal', 'resource', 'aluminum', 'metals', 'iron', 'development',
       'electric', 'investment', 'chemical', 'environment', 'tech',
       'sales', 'thermoelectricity', 'asset', 'estate', 'paper',
       'electricity', 'bank', 'production', 'oil', 'aluminium', 'mining',
       'enerji', 'trade', 'information', 'equity', 'consulting',
       'international', 'service', 'gas', 'trading', 'equipment',
       'innovation', 'financial', 'mine', 'operating', 'petroleum',
       'fund', 'petrochemical', 'bio', 'manufacturing', 'cement',
       'cogeneration', 'bioenergy', 'infrastructure', 'gold',
       'hydropower', 'insurance', 'logistics', 'chemicals', 'project',
       'engineering', 'tourism', 'property', 'transportation',
       'agricultural', 'supply', 'services', 'stock', 'saving',
       'technological', 'electrical', 'marketing', 'ventures', 'fuels',
       'mineral', 'exploration', 'operations', 'investments', 'import',
       'elektrik', 'commercial', 'administration', 'renewable',
       'airlines', 'agency'], dtype=object)

In [35]:
df['Industry_Classification'].nunique()

86

In [36]:
# keep checking top 50 rows and adding texts needed for filtering -> 100 rows
df[df['Industry_Classification'].notnull()].tail(50)

,Entity_Name,LEI,ISIN,Industry_Classification
23353,zhungeer banner zhungeer mining area xingda in...,NaN,NaN,trade
23354,zhungeer fuliang mining company,NaN,NaN,mining
23355,zhungeer qichuanzhang lijiaqu coal company,NaN,NaN,coal
23356,zhuorui no.1 equity investment partnership,NaN,NaN,equity
23357,zibo dongyue new energy co ltd,NaN,NaN,energ
23358,zichang county nanjiazui coal mine co ltd,NaN,NaN,mine
23359,zichang county tianren coal mine co ltd,NaN,NaN,mine
23360,zichang county yangmahe mining co ltd,NaN,NaN,mining
23361,zichang county yongxing coal mine co ltd,NaN,NaN,mine
23362,zichang county zhenjiagou coal industry co ltd,NaN,NaN,coal
23363,zichang county zhongda jiaojiagou coal industr...,NaN,NaN,coal
23364,zimbabwe power co ltd,NaN,NaN,power
23365,zimbabwe zhongxin electric energy,NaN,NaN,energ
23367,zion energy llc,NaN,NaN,energ
23370,zizhou county yongxing coal industry co ltd,NaN,NaN,coal
23371,zodiac power chittagong ltd,NaN,NaN,power
23372,zoucheng asset operation company,NaN,NaN,operation
23373,zueitina oil company,NaN,NaN,oil
23374,zuma energa,NaN,NaN,energ
23375,zunhua energy development co,NaN,NaN,energ
23376,"aia insurance co., ltd",NaN,NaN,insurance
23379,gaston co ltd,NaN,NaN,gas
23381,i3 energy,NaN,NaN,energ
23389,nner mongolia mengxing investment group co ltd,NaN,NaN,investment
23392,oriental industrial investment co ltd,NaN,NaN,investment
23398,"power rich co., ltd",NaN,NaN,power
23402,to be determined,NaN,NaN,mine
23404,mbar energia sa,NaN,NaN,energ
23405,alk enerji,NaN,NaN,enerji
23407,alkan enerji,NaN,NaN,enerji
23409,ates elektrik retim a,NaN,NaN,elektrik
23410,ebi enerji elektrik retim a,NaN,NaN,elektrik
23411,ebi metal san. tic. a,NaN,NaN,metal
23412,elikler elektrik retim a,NaN,NaN,elektrik
23414,elikler orhaneli tunbilek elektrik retim a.,NaN,NaN,elektrik
23415,elikler orhaneli tunbilek elektrik retim a..,NaN,NaN,elektrik
23416,elikler orhaneli tunbilek elektrik retim a,NaN,NaN,elektrik
23417,elikler seyitmer elektrik retim a..,NaN,NaN,elektrik
23418,elikler seyitmer elektrik retim a,NaN,NaN,elektrik
23421,elikler termik elektrik retim,NaN,NaN,elektrik
23424,ukurova demta enerji retim,NaN,NaN,enerji
23425,nar enerji,NaN,NaN,enerji
23427,vik energi ab,NaN,NaN,energ
23428,jpalotai energia kft,NaN,NaN,energ
23431,ipekyolu enerji,NaN,NaN,enerji
23432,izdemir enerji elektrik retim a,NaN,NaN,elektrik
23434,ida elektrik enerjisi retim ve yatrm a,NaN,NaN,elektrik
23435,ida enerji retim ve yatrm a,NaN,NaN,enerji
23436,rnak elektrik retim a,NaN,NaN,elektrik
23437,idro enerji elektrik uretim sanayi a,NaN,NaN,elektrik

In [37]:
#df.to_csv('/content/drive/MyDrive/forward_analytics_results/enriched_industry.csv', index=False)